<?xml version="1.0"?>
<robot name="wheel"  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="wheel_radius" value="0.0352" />
  <xacro:property name="wheel_width" value="0.0206" />

<xacro:macro name="wheel" params="wheel_name">
  <link name="${wheel_name}">    
      <visual>
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
      </visual>

      <collision>
        <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
        <geometry>
          <cylinder length="${wheel_width}" radius="${wheel_radius}"/>
        </geometry>
      </collision>

    <inertial>
      <origin rpy="0 1.5707 1.5707" xyz="0 0 0"/>
      <mass value="0.5" />
      <inertia ixx="0.000172561667" ixy="0.0" ixz="0.0" iyy="0.000172561667" iyz="0.0" izz="0.00030976" />
    </inertial>
  </link>
  
</xacro:macro>

</robot>